* {
  outline: 1px solid black;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  min-width: 1200px;
  color: #fff;
  background-color: #849d8f;
}

.logo {
  float: left;
  margin-right: 29px;
}

.logo img {
  display: block;
}

.main-navigation {
  margin: 0;
  padding: 0;
  float: left;
  max-width: 690px;
  list-style: none;
}

.main-navigation > li {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  margin-right: 25px;
}

.main-navigation a {
  display: block;
  padding: 0px;
  color: #ffffff;
  margin-top: 20px;
}

.main-navigation .catalog-navigation {
  position: absolute;
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 2;
  width: 145px;
  left: -20px;
}

.catalog-navigation a {
  color: #343434;
  background: #f8f7f4;
  margin-top: 0;
  margin-right: 0;
  padding: 8px 10px 8px 20px;
  text-decoration: none;
}

.catalog-navigation a:not(:first-child) {
  color: #343434;
  background: #f8f7f4;
}

.main-navigation > li:hover .catalog-navigation {
  display: block;
}

.catalog-navigation a:hover {
  background: #fbded7;
}

.catalog-navigation a:active {
  background: #f6b5a5;
}

.login-entrance {
  position: absolute;
  width: 273px;
  background-color: #f8f7f4;
  top: 130px;
  border-radius: 10px;
}

.login-entrance a {
  font-size: 13px;
  line-height: 24px;
  color: #333333;
  width: 100px;
}

.login-entrance label input[type="email"] {
  width: 260px;
  margin: 0;
}

.login,
.basket,
.search {
  margin-top: 15px;
  text-align: right;
  font-size: 14px;
  line-height: 1.2;
  border-radius: 15px;
  padding-bottom: 7px;
  padding-top: 7px;
  background-color: #a1b5aa;
  float: right;
  position: relative;
}

.login a,
.basket a {
  text-decoration: none;
  color: #ffffff;
}

.login a:hover,
.login:hover,
.basket a:hover,
.basket:hover {
  background-color: #f8f7f4;
  color: #323232;
}

.search:hover {
  background-color: #f8f7f4;
  background-image: url("../img/icon-search-hover.svg");
  background-repeat: no-repeat;
}

.search {
  background-image: url("../img/icon-search.svg");
  background-position: center center;
  background-repeat: no-repeat;
  min-width: 17px;
  min-height: 17px;
  font-size: 0;
  padding: 7px;
}

.click-search {
  position: absolute;
  display: block;
  right: 0px;
  top: 35px;
  background-color: #f8f7f4;
  z-index: 3;
  padding: 16px;
  border-radius: 10px;
}

.click-search input[type="search"] {
  width: 310px;
  min-height: 40px;
  font-size: 14px;
  color: #999999;
  border-radius: 10px;
}

.login {
  margin-left: 15px;
  margin-right: 15px;
  width: 77px;
}

.login::before {
  content: "";
  position: absolute;
  background: url("../img/icon-entrance.svg") no-repeat;
  min-height: 19px;
  min-width: 21px;
  left: 14px;
}

.login:hover::before {
  background: url("../img/icon-entrance-hover.svg") no-repeat;
}

.basket::before {
  content: "";
  position: absolute;
  background: url("../img/icon-basket.svg") no-repeat;
  min-height: 20px;
  min-width: 21px;
  left: 0px;
}

.basket {
  width: 118px;
}

.contacts {
  position: absolute;
  top: 75px;
  right: 1px;
  float: right;
  width: 267px;
  z-index: 2;
  text-align: right;
  font-size: 14px;
  line-height: 1.2;
}

.contacts .number {
  font-size: 22px;
}

.breadcrumbs {
  display: inline-block;
  box-shadow: 0 0 2px #aaa;
}

.breadcrumbs a {
  font-size: 14px;
  line-height: 1.2;
  position: relative;
  float: left;
  margin: 0;
  transition: all .5s;
  color: #fff;
  margin-right: 22px;
}

.breadcrumbs span {
  font-size: 14px;
  position: absolute;
}

.breadcrumbs a::after {
  content: "»";
  position: absolute;
  right: -15px;
}

body > input[type='radio'] {
  display: none;
}

.site-wrapper {
  min-width: 940px;
  transition: background-image .5s ease, background-color .5s ease;
  background-image: url('../img/bg-first.png');
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper:before,
.site-wrapper:after {
  visibility: hidden;
  content: '';
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url('../img/bg-first.png');
}

.site-wrapper:after {
  background-image: url('../img/bg-second.png');
}

.slider {
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #fff;
}

.slide {
  display: none;
}

.slide-title {
  font-size: 60px;
  font-weight: 800;
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.btn-slide {
  font-size: 31px;
  font-weight: 600;
  line-height: 41px;
  display: inline-block;
  margin-bottom: 42px;
  padding: 12px 50px;
  vertical-align: top;
  text-decoration: none;
  color: #fff;
  border-radius: 100px;
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, .64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, .76);
}

.btn-red {
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn-red:hover {
  background: -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn-red:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  font-size: 0;
  position: absolute;
  z-index: 20;
  bottom: 25px;
  left: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  cursor: pointer;
  vertical-align: top;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls label:hover {
  background-color: #b2c1b7;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url('../img/bg-first.png');
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url('../img/bg-second.png');
}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url('../img/bg-third.png');
}

#btn-1:checked ~ .site-wrapper label[for='btn-1'],
#btn-2:checked ~ .site-wrapper label[for='btn-2'],
#btn-3:checked ~ .site-wrapper label[for='btn-3'] {
  background-color: #fff;
}

.btn-features {
  padding: 9px 20px;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

.main-header {
  margin-bottom: 10px;
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.header-top {
  position: relative;
}

.breadcrumbs {
  display: inline-block;
  list-style: none;
}

.sorting,
.half-width,
.radiobuttons,
.fillers {
  float: left;
}

.sorting {
  width: 194px;
  margin-left: 16px;
}

.half-width {
  margin-right: 20px;
  font-size: 14px;
  padding-left: 15px;
}

.half-width label:first-child,
.sorting label:first-child,
.fillers label:first-child {
  display: block;
}

.radiobuttons {
  margin-top: 7px;
}

.radiobuttons label:first-child {
  display: block;
}

.radiobuttons label {
  margin-right: 35px;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500px;
}

.fillers label {
  margin-right: 40px;
}

.fillers input[type="submit"] {
  margin-left: 20px;
}

.radiobuttons label {
  font-size: 14px;
}

.fillers input[type="submit"] {
  font-size: 16px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #a6b7ae;
  border-radius: 10px;
  border: 2px solid #ffffff;
  padding: 3px 25px 3px 25px;
  font-weight: 500;
}

.features {
  margin-bottom: 38px;
}

.features h3 {
  font-size: 35px;
  line-height: 1.2;
  padding-left: 18px;
}

.features p {
  font-size: 18px;
  line-height: 1.2;
  padding-left: 18px;
}

.features a {
  float: right;
  margin-bottom: 18px;
  margin-right: 20px;
  text-decoration: none;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;
}

.features-raspberry {
  float: left;
  width: 560px;
  margin-right: 26px;
  background-image: url('../img/bg-raspberries.jpg');
  background-repeat: no-repeat;
  border-radius: 15px;
}

.features-chocolate {
  float: right;
  width: 560px;
  background-image: url('../img/bg-chocolate.jpg');
  background-repeat: no-repeat;
  border-radius: 15px;
}

.products {
  font-size: 0;
}

.product {
  position: relative;
  display: inline-block;
  width: 267px;
  margin-top: 38px;
  margin-right: 26px;
  margin-bottom: 38px;
  text-align: center;
  vertical-align: top;
  z-index: 3;
}

.hit::before {
  content: "Хит";
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
  left: 0;
  font-size: 61px;
  text-indent: 10000px;
  position: absolute;
}

.price {
  font-size: 45px;
  line-height: 13px;
  position: absolute;
  top: 230px;
  left: 0;
}

.price span {
  text-indent: 100px;
  background: url("../img/icon-ruble.svg") no-repeat center center;
}

.price .minify {
  font-size: 30px;
  line-height: 13px;
  background-position: 1000px;
}

.product a {
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: #ffffff;
  position: relative;
  display: block;
  margin-bottom: 35px;
  margin-right: 0;
  text-decoration: underline;
}

.product a:nth-child(2n+1):hover {
  color: #ffbc9e;
}

.product:nth-child(4n) {
  margin-right: 0;
}

.product .browsing {
  position: absolute;
  color: #ffffff;
  padding: 10px;
  margin-left: 30px;
  width: 190px;
  text-align: center;
  margin-top: 0px;
  bottom: -62px;
  text-decoration: none;
}

.browsing:hover {
  display: block;
}

product:hover::before {
  background-color: #a7b8ad;
  border-radius: 15px;
  width: 288px;
  min-height: 367px;
  z-index: 2;
  position: absolute;
}

.advantages {
  margin-bottom: 38px;
  padding-top: 29px;
  background-image: url('../img/bg-wafer.jpg');
  border-radius: 15px;
}

.advantages ul {
  padding: 0;
}

.advantages-title {
  font-family: Roboto;
  font-size: 24px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 26px;
  margin-left: 19px;
  color: #323232;
}

.advantages li {
  font-size: 16px;
  line-height: 22px;
  float: left;
  width: 485px;
  margin-bottom: 24px;
  margin-left: 77px;
  list-style: none;
  color: #323232;
  position: relative;
}

.own-icecream::before {
  content: "Мороженное";
  position: absolute;
  background-image: url("../img/icon-icecream.svg");
  background-repeat: no-repeat;
  text-indent: 10000px;
  min-height: 48px;
  left: -60px;
  top: -17px;
}

.farm::before {
  content: "Коровка";
  position: absolute;
  background-image: url("../img/icon-cow.svg");
  background-repeat: no-repeat;
  text-indent: 10000px;
  min-height: 48px;
  left: -60px;
  top: -17px;
}

.ecologically::before {
  content: "Листик";
  position: absolute;
  background-image: url("../img/icon-leaflet.svg");
  background-repeat: no-repeat;
  text-indent: 10000px;
  min-height: 48px;
  left: -60px;
  top: -17px;
}

.temperature::before {
  content: "Температура";
  position: absolute;
  background-image: url("../img/icon-thermometer.svg");
  background-repeat: no-repeat;
  text-indent: 10000px;
  min-height: 48px;
  left: -60px;
  top: -17px;
}

.news-subscription {
  position: relative;
}

.news-subscription article {
  float: left;
  width: 560px;
  margin-bottom: 40px;
  position: relative;
}

.news-title {
  position: absolute;
  color: #5a5a5a;
  z-index: 2;
  margin-top: 28px;
  left: 19px;
  font-size: 16px;
  line-height: 1.2;
}

.news-subscription .news a {
  position: absolute;
  top: 60px;
  color: #353535;
  width: 281px;
  font-size: 24px;
  line-height: 1.2;
  left: 19px;
  text-align: left;
}

.news-subscription article img {
  border-radius: 10px;
}

.subscription-pattern {
  float: right;
  width: 560px;
  background-image: url('../img/bg-email.png');
  border-radius: 10px;
}

.subscription {
  float: right;
  background: #f8f7f4;
  margin: 8px;
}

.subscription p {
  color: #5a5a5a;
  line-height: 22px;
  font-size: 16px;
  padding-left: 21px;
  font-weight: normal;
  margin-bottom: 40px;
}

.subscription input[type="email"] {
  width: 368px;
  margin-bottom: 40px;
  margin-left: 16px;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  min-height: 45px;
  border-radius: 10px;
  color: black;
  padding-left: 5px;
}

.btn-subscription {
  margin-left: 21px;
  padding: 11px;
}

.map {
  background-image: url('../img/bg-map.jpg');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 430px;
  position: relative;
  margin-bottom: 18px;
}

.feedback {
  position: absolute;
  width: 280px;
  padding-bottom: 27px;
  left: 945px;
  top: 45px;
  background-color: #fefefe;
  color: #343434;
  border-radius: 15px;
  padding-top: 31px;
  padding-left: 25px;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  z-index: 2;
}

.feedback span {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 10px;
}

.feedback a {
  padding: 15px;
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
  margin-top: 21px;
  width: 230px;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  font-style: normal;
}

.feedback-form {
  width: 480px;
  background-color: #f8f7f4;
  padding-left: 25px;
  border-radius: 10px;
  position: fixed;
}

.feedback-form legend {
  color: #343434;
  font-size: 24px;
}

.feedback-form input[type="email"] {
  margin: 0;
}

.main-paginator {
  margin-bottom: 57px;
  text-align: right;
}

.paginator a,
.paginator span {
  line-height: 1.2;
  display: inline-block;
  padding-top: 0 padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: #fff;
}

.paginator .prev,
.paginator .next {
  text-indent: -10000px;
}

.paginator .prev {
  margin-right: 20px;
  transform: rotate(180deg);
  background: url('../img/icon-arrow-right.svg') no-repeat 7px 3px;
}

.paginator .next {
  margin-left: 20px;
  background: url('../img/icon-arrow-right.svg') no-repeat 7px 3px;
}

.paginator .disabled {
  opacity: .2;
}

.paginator a:hover:not(:first-child):not(:last-child) {
  color: #353535;
  background-color: #fff;
}

.main-footer {
  margin-bottom: 22px;
}

.footer-social {
  font-size: 0;
  float: left;
  width: 267px;
  margin-right: 26px;
}

.social-btn {
  display: inline-block;
  margin-right: 11px;
  vertical-align: middle;
  width: 31px;
  height: 31px;
  border: 3px solid rgba(230, 235, 233, 0.5);
  border-radius: 50%;
  opacity: 0.8;
  margin-top: 20px;
}

.social-btn:hover {
  opacity: 0.98;
  border: 3px solid rgba(230, 235, 233, 0.71);
}

.social-btn:active {
  box-shadow: inset 0px 2px 1px 0px #888888;
}

.social-btn-tw {
  background: url('../img/icon-twit.svg') no-repeat center center;
}

.social-btn-inst {
  background: url('../img/icon-inst.svg') no-repeat center center;
}

.social-btn-fb {
  background: url('../img/icon-fb.svg') no-repeat center center;
}

.social-btn-vk {
  background: url('../img/icon-vk.svg') no-repeat center center;
}

.footer-menu {
  font-family: "Roboto Regular";
  font-size: 13px;
  float: left;
  width: 300px;
  margin-right: 26px;
  padding-left: 128px;
  color: #ffffff;
  position: relative;
  margin-top: 20px;
  line-height: 1.2;
}

.footer-menu a {
  float: left;
  color: #ffffff;
  min-width: 120px;
  margin-bottom: 8px;
}

.icon::before {
  content: "Сердце";
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  position: absolute;
  text-indent: 1000px;
  left: 108px;
  top: 2px;
}

.footer-copyright {
  font-family: Roboto Regular;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.2;
  float: right;
  max-width: 189px;
  margin-bottom: 24px;
  color: #fefefe;
}

.footer-copyright a {
  color: #fefefe;
}
