.checkbox-input__control {
  display: none;

  &:checked + .checkbox-input__label {
    &::after {
      content: '';
      position: absolute;
      top: 13px;
      left: 8px;
      display: block;
      width: 10px;
      height: 5px;
      border-bottom: 2px solid white;
      border-left: 2px solid white;
      transform: rotate(-45deg);
    }
  }
}

.checkbox-input__label {
  position: relative;
  display: block;
  padding: 9px 13px 9px 40px;

  &::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 4px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 3px;
  }

  &:hover {
    &::before {
      border: 2px solid white;
    }
  }
}
