.contacts {
  width: 170px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: right;
}

.contacts__hours {
  display: block;
  padding: 3px 0;
}

.contacts__number {
  font-weight: 700;
  font-size: 22px;
  line-height: 24px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
