.form-login {
  padding: 20px 18px;
}

.form-login__links {
  display: inline-block;
  padding-left: 15px;
  vertical-align: top;
}

.form-login__link {
  display: block;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #323232;
  text-decoration: none;

  &:active,
  &:hover,
  &:focus {
    color: #e84d37;
  }

  &:active .form-login__link-content,
  &:hover .form-login__link-content,
  &:focus .form-login__link-content {
    border-bottom: 1px solid rgba(236,89,60,.3);
  }
}

.form-login__link-content {
  border-bottom: 1px solid rgba(0,0,0,.3);
}
