.login {
  position: relative;
  box-sizing: border-box;
  width: 92px;
  margin-left: 11px;
  padding-top: 8px;
  padding-right: 16px;
  padding-bottom: 8px;
  padding-left: 43px;
  font-size: 14px;
  line-height: 1.2;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 15px;

  &:hover,
  &:focus {
    color: var(--color-text);
    background-color: var(--bg-color-hue-white);

    & .login__entrance {
      display: block;
    }

    &::before {
      content: '';
      width: 20px;
      height: 19px;
      background-image: url('../../img/sprite/sprite.png');
      background-repeat: no-repeat;
      background-position: -10px -120px;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 6px;
    left: 16px;
    width: 20px;
    height: 19px;
    background-image: url("../../img/sprite/sprite.png");
    background-repeat: no-repeat;
    background-position: -10px -159px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 30px;
    left: 0px;
    min-width: 90px;
    min-height: 5px;
  }
}

.login__entrance {
  position: absolute;
  top: 35px;
  right: 0;
  z-index: 3;
  display: none;
  background-color: var(--bg-color-hue-white);
  border-radius: 5px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, .4);
}
