.main-header {
  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    min-height: 70px;
    padding-top: 5px;
    padding-bottom: 8px;
  }

  &__logo {
    margin-left: -8px;
    padding-top: 4px;
  }

  &__navigation {
    flex-grow: 1;
    flex-basis: 400px;
    max-width: 690px;
    margin-left: 16px;
  }

  &__contacts {
    position: absolute;
    top: 71px;
    right: 2.3vw;
    z-index: 2;
  }

  &__common-buttons {
    display: flex;
    width: 261px;
    margin-left: auto;
  }
}
