.main-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  min-height: 103px;
  padding-top: 20px;
  padding-bottom: 18px;
}

.main-footer__menu,
.main-footer__social,
.main-footer__copyright {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}
