.map {
  position: relative;
  width: 100%;
  height: 429px;
  background-color: #e1e3bd;
  background-image: url("../../img/bg-map.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.map__feedback {
  position: relative;
  top: 62px;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--padding-container);
  padding-left: var(--padding-container);
}
