.product {
  position: relative;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: var(--column-width);
  margin-right: var(--padding-between-column);

  &:nth-child(4n) {
    margin-right: 0;
  }

  &--catalog {
    margin-bottom: 20px;
  }

  &:hover,
  &:focus {
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      bottom: -60px;
      left: -4.86%;
      z-index: -1;
      width: 100%;
      min-height: 100%;
      padding: 20px 4.86% 48px;
      background-color: rgba(255, 255, 255, .3);
      border-radius: 15px;
    }

    & .btn--product {
      display: block;
    }
  }
}

.product__content {
  position: relative;
}

.product__picture {
  display: block;
  max-width: 100%;
  height: auto;
}

.product__description {
  position: relative;
  min-height: 46px;
  padding: 15px 5px 17px;
  text-align: center;
}

.product__link {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  &:hover,
  &:focus {
    color: #ffbc9e;
    border-bottom: 1px solid #ffbc9e;
  }
}


.product__price {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 7px 0;
}

.product__price-currency {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: white;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.product__price-weight {
  font-weight: 700;
  font-size: 30px;
  line-height: 45px;
  color: white;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}
