.radio-input__control {
  display: none;

  &:checked + .radio-input__label {
    &::after {
      content: '';
      position: absolute;
      top: 11px;
      left: 10px;
      box-sizing: border-box;
      width: 12px;
      height: 12px;
      background-color: white;
      border-radius: 50%;
    }
  }
}

.radio-input__label {
  position: relative;
  display: block;
  padding: 9px 12px 9px 37px;
  cursor: pointer;

  &:hover {
    &::before {
      border: 2px solid white;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 7px;
    left: 6px;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
  }
}
