.search {
  position: relative;
  width: 17px;
  height: 17px;
  padding: 7px;
  background-color: rgba(255, 255, 255, .2);
  background-image: url("../../img/sprite/sprite.png");
  background-repeat: no-repeat;
  background-position: -4px -228px;
  border-radius: 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #f8f7f4;
    background-image: url("../../img/sprite/sprite.png");
    background-position: -4px -191px;

    & .form-search {
      display: block;
    }
  }

  &::before {
    content: '';
    position: absolute;
    top: 30px;
    left: -5px;
    min-width: 45px;
    min-height: 5px;
  }
}
