.subscription {
  box-sizing: border-box;
  width: calc(var(--column-width) * 2 + var(--padding-between-column));
  min-height: 220px;
  padding: 5px;
  color: var(--color-text);
  background-color: white;
  background-image: url(../img/bg-email.png);
  border-radius: 15px;
}

.subscription__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  height: auto;
  padding-top: 28px;
  padding-right: 17px;
  padding-bottom: 35px;
  padding-left: 20px;
  background-color: var(--bg-color-hue-white);
  border-radius: 15px;
}

.subscription__text {
  align-self: flex-start;
  margin-top: 0;
  margin-bottom: 37px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #5a5a5a;
}

.subscription__form {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
