.textarea {
  position: relative;
  box-sizing: border-box;
  color: #323232;
  background-color: transparent;
}

.textarea__control {
  box-sizing: border-box;
  min-width: 428px;
  min-height: 155px;
  margin: 0 0 22px;
  padding: 9px 15px;
  overflow: auto;
  border: 1px solid #d3d3d2;
  border-radius: 5px;
  resize: none;

  &:focus {
    padding: 8px 14px;
    border: 2px solid #8fbdec;

    & + .textarea__label::before {
      color: #8fbdec;
      transform: translate(0, -2.1em) scale(0.8, 0.8);
      transition-duration: .2s;
    }
  }

  &:valid {
    & + .textarea__label::before {
      color: #999;
      transform: translate(0, -2.1em) scale(0.8, 0.8);
      transition-duration: .2s;
    }
  }

  &:hover {
    padding: 8px 14px;
    border: 2px solid #c7c6c5;
  }
}

.textarea__label {
  display: block;
  margin-top: calc(-10.5em - 6px);
  margin-bottom: calc(9.0em);
  font-weight: 400;
  pointer-events: none;

  &::before {
    content: attr(data-placeholder);
    display: inline-block;
    margin: 0 calc(1em + 2px);
    vertical-align: baseline;
    color: #999;
    white-space: nowrap;
    transform-origin: left center;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    transition-duration: .2s;
    transition-property: transform, color;
  }
}
